<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GlobalTravel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DE5436A1DBE24DF006AF0F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE543831DBE24DF006AF0F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DE5438E1DBE24DF006AF0F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
